@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'), url('../fonts/vazir.ttf') format('truetype'), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: "vazir";
}

.container {
    width: 1300px;
    margin: auto;
}


/* header */

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/bakcground-header.jpg) fixed center no-repeat;
    background-size: cover;
}


/* navbar */

header .navbar {
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}

header .navbar .header-list {
    list-style: none;
}

header .navbar .header-list li {
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

header .navbar .header-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header .navbar .header-list li a::before {
    position: absolute;
    right: 0;
    top: -12px;
    width: 0;
    height: 2px;
    content: '';
    box-shadow: 0 0 7px #cbce0b;
    background-color: #e7f712;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

header .navbar .header-list li a.active::before {
    width: 100%;
}

header .navbar .header-list li a:hover::before {
    width: 100%;
}

.navbar .header-logo {
    width: 80px;
    height: 80px;
}

.navbar .header-logo img {
    width: 100%;
    height: 100%;
}


/* End navbar */


/* banner */

header .header-banner {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}

header .header-banner h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

header .header-banner p {
    font-size: 25px;
}


/* End banner */


/* End header */


/* our-story */

.our-story {
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.our-story .our-story-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.our-story .our-story-content .our-story-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-story .our-story-content .our-story-description h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
}

.our-story .our-story-content .our-story-description p {
    text-align: center;
    width: 85%;
    font-size: 18px;
}

.our-story .our-story-content .our-story-image {
    width: 100%;
    height: 100%;
}

.our-story .our-story-content .our-story-image img {
    width: 100%;
    height: 100%;
}


/* End our-story */


/* sweet */

.sweet {
    width: 100%;
    height: auto;
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/backtwo.jpg) fixed no-repeat;
    background-size: cover;
    text-align: center;
}

.sweet .sweet-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sweet .sweet-content h1 {
    font-size: 45px;
}

.sweet .sweet-content p {
    font-size: 20px;
    width: 650px;
    margin-top: 40px;
}


/* End sweet */


/*  coffee-menu */

.coffee-menu {
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.coffee-menu .coffee-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.coffee-menu .coffee-menu-content .coffee-menu-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coffee-menu .coffee-menu-content .coffee-menu-description h1 {
    font-size: 40px;
}

.coffee-menu .coffee-menu-content .coffee-menu-description p {
    line-height: 30px;
    font-size: 21px;
    width: 580px;
    text-align: center;
    margin: 30px 0;
}

.coffee-menu .coffee-menu-content .coffee-menu-description a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    border-bottom: 2px solid #c00;
}

.coffee-menu .coffee-menu-content .coffee-menu-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.coffee-menu .coffee-menu-content .coffee-menu-image img {
    width: calc(50% - 15px);
    margin: 7.5px;
    height: 250px;
    cursor: pointer;
}


/* End coffee-menu */


/* hot */

.hot {
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hot.jpeg) fixed no-repeat;
    background-size: cover;
}

.hot .hot-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hot .hot-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hot .hot-content p {
    font-size: 30px;
}


/* End hot */


/* delight */

.delight {
    width: 100%;
    padding: 100px 0;
}

.delight .delight-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delight .delight-content .delight-description {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.delight .delight-content .delight-description h1 {
    font-size: 40px;
}

.delight .delight-content .delight-description p {
    width: 90%;
    margin-top: 20px;
    font-size: 22px;
}

.delight .delight-content .delight-image {
    width: 40%;
    height: 100%;
    display: flex;
}

.delight .delight-content .delight-image img {
    width: 50%;
    height: 350px;
}

.delight .delight-content .delight-image img:nth-of-type(1) {
    margin-left: 15px;
}

.delight .delight-content .delight-image img:nth-of-type(2) {
    margin-right: 15px;
}


/* End delight */


/* footer */

.footer {
    width: 100%;
    background-color: #141414;
    padding: 100px 0 0;
    color: #fff;
    text-align: center;
}

.footer h2 {
    margin-bottom: 30px;
}

.footer .footer-aboutUs p {
    width: 45%;
    margin: auto;
}

.footer .footer-content {
    width: 45%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer .footer-content .footer-newsLetter {
    text-align: start;
    width: 70%;
}

.footer .footer-content .footer-newsLetter input {
    padding: 10px;
}

.footer .footer-content .footer-social {
    width: 30%;
}

.footer .footer-content .footer-social ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    list-style: none;
}

.footer .footer-content .footer-social li {
    font-size: 26px;
}

.footer .copy-right {
    margin-top: 30px;
    padding: 80px 0;
    background-color: #333;
}

.footer .copy-right h2 {
    margin-bottom: 20px;
}


/* End footer */